@import url(font-awesome.min.css);
.container .heading {
  padding-top: 0px; }

.dest-data-show {
  padding-top: 120px !important; }

span.fa-map-marker {
  color: #666; }

.list-data {
  overflow: visible;
  height: auto; }
  .list-data:first-child {
    height: auto;
    float: right;
    width: 50%; }
  .list-data:last-child {
    height: auto;
    width: 50%;
    float: right; }
  .list-data p {
    line-height: 1.8;
    word-break: break-all; }

.list-data img {
  object-fit: cover;
  width: 100%;
  height: 400px; }

.list-data #location {
  position: relative !important;
  width: 100%;
  display: block !important;
  padding-top: 15px;
  margin-left: -10px;
  text-align: left;
  left: 10px;
  width: auto; }
  .list-data #location .fa-map-marker::before {
    color: #999;
    top: 2px; }

.list-data:last-child {
  display: block; }

.share-area {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box; }
  .share-area .orvfo {
    width: auto;
    float: left;
    padding-left: 20px; }
    .share-area .orvfo:first-child
    {
      padding-left: 0px;
    }
    .share-area .orvfo.rating-me {
      padding-left: 10  0px;
      top: -10px; }
    .share-area .orvfo button {
      background: none;
      border: 0;
      color: #F8CD3A; }
      .share-area .orvfo button.like-me[liked=false] i {
        font-family: FontAwesome;
        font-style: normal; }
        .share-area .orvfo button.like-me[liked=false] i::before {
          content: "\f08a"; }
      .share-area .orvfo button.like-me[liked=true] {
        color: #FF1241; }
        .share-area .orvfo button.like-me[liked=true] i {
          font-family: FontAwesome;
          font-style: normal;
          color: #FF1241; }
          .share-area .orvfo button.like-me[liked=true] i::before {
            content: "\f004"; }
      .share-area .orvfo button:focus {
        outline: 0; }

.penginapan {
  display: block; }
  .penginapan .list-host {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-left: -15px;
     }
    .penginapan .list-host .list-data {
      width: 50%;
      float: left;
      padding: 0px 15px;
      box-sizing: border-box; }
      .penginapan .list-host .list-data .data-content {
        width: 100%; }
        .penginapan .list-host .list-data .data-content ul li i {
          width: 20px; }
        .penginapan .list-host .list-data .data-content .image-data {
          float: left;
          height: 170px;
          width: 230px;
          background: green; }
          .penginapan .list-host .list-data .data-content .image-data img {
            width: 100%;
            height: 100%;
            object-fit: cover; }
        .penginapan .list-host .list-data .data-content .content-data {
          height: 170px;
          overflow: hidden;
          box-sizing: border-box;
          padding: 0px 15px;
          color: #757575;
          background: #F7F7F7;
          border-top: 1px solid;
          border-right: 1px solid;
          border-bottom: 1px solid;
          border-color: #EAEAEA; }
          .penginapan .list-host .list-data .data-content .content-data .item-content {
            width: 100%;
            height: 100%;
            overflow: hidden; }
            .penginapan .list-host .list-data .data-content .content-data .item-content .book-now {
              position: absolute;
              bottom: 10px; }
              .penginapan .list-host .list-data .data-content .content-data .item-content .book-now button {
                border: 1px solid #F8CD3A;
                background: #F8CD3A;
                color: #fff;
                transition: .2s ease; }
                .penginapan .list-host .list-data .data-content .content-data .item-content .book-now button:hover {
                  background: transparent;
                  color: #F8CD3A; }
                .penginapan .list-host .list-data .data-content .content-data .item-content .book-now button:focus {
                  outline: 0; }

.rate-area {
  padding: 0px 10px;
  position: relative !important;
  display: block !important;
  float: none;
  height: 30px;
  top: 5px;
  overflow: hidden;
  box-sizing: border-box;
  width: auto !important;
  bottom: 0px; }
  .rate-area div {
    width: auto;
    background: transparent;
    padding-left: 5px; }
    .rate-area div.rate {
      width: auto;
      left: -9px;
      top: 8px; }
      .rate-area div.rate .sub-rate {
        width: auto; }
        .rate-area div.rate .sub-rate .start {
          width: auto;
          overflow: hidden;
          padding: 0px 3px;
          float: left; }
          .rate-area div.rate .sub-rate .start.rate {
            top: 0;
            left: 0; }
            .rate-area div.rate .sub-rate .start.rate i {
              color: #F8CD3A; }
              .rate-area div.rate .sub-rate .start.rate i::before {
                content: "\f005"; }
          .rate-area div.rate .sub-rate .start.unrate i {
            color: #B5B5B5; }
            .rate-area div.rate .sub-rate .start.unrate i::before {
              content: "\f006"; }
          .rate-area div.rate .sub-rate .start:first-child {
            padding: 0 3px 0 0; }
          .rate-area div.rate .sub-rate .start i {
            font-size: 18px; }

.image-page {
  float: right;
  width: 51%;
  overflow: hidden;
  padding-left: 30px;
  padding-bottom: 10px; }
  .image-page img {
    width: 100%;
    height: 400px;
    object-fit: cover; }

.text-data {
  text-align: left;
  z-index: 0;
  line-height: 1.6;
  padding-right: 20px;
  margin-right: 10px;
  right: 10px; }
  .text-data p {
    font-size: 15px !important; }

@media screen and (max-width: 768px) {
  div.title::before {
    height: 0px !important;
    width: 0px !important; }

  .title {
    margin-top: 20px;
    padding-top: 200px; }

  .image-page {
    width: 100%; }

  .dest-data-show {
    padding-top: 40px !important; }

  .list-data {
    width: 100%; }
    .list-data:first-child {
      width: 100%; }

  .list-data:last-child {
    padding-top: 40px;
    height: auto;
    width: 100%; }

  .penginapan .list-host .list-data {
    width: 100%; } }
@media screen and (max-width: 550px) {
  .share-area .orvfo.rating-me {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 100%; }

  .share-area .orvfo {
    padding-right: 0px; }

  .penginapan .list-host .list-data .data-content .image-data {
    width: 100%; }

  .penginapan .list-host .list-data .data-content .content-data {
    width: 100%;
    border-top: 0;
    border-left: 1px solid #EAEAEA; } }
