@import url(font-awesome.min.css);
@import url(font-awesome.min.css);
header nav ul li a {
  color: #383838 !important; }

.many-data {
  background: transparent;
  padding-top: 80px;
  padding-bottom: 120px; }
  .many-data .other .other-list {
    width: 50%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    height: 500px; }
    .many-data .other .other-list p {
      display: block;
      letter-spacing: 1.2px;
      color: #525252;
      line-height: 1.6; }
    .many-data .other .other-list:first-child {
      padding-right: 50px; }
    .many-data .other .other-list:last-child {
      width: 50%; }
      .many-data .other .other-list:last-child img {
        width: 100%;
        object-fit: cover; }

.new-dest {
  display: block; }
  .new-dest .heading .title-center::before {
    left: -140px; }
  .new-dest .items {
    width: 25%;
    float: left;
    padding: 15px 10px;
    box-sizing: border-box;
    display: block;
    padding-bottom: 25px;
    overflow: hidden;
    border-radius: 0px;
    cursor: pointer; }
  .new-dest .cont-item {
    padding: 0px;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    transition: 0.3s ease; }
    .new-dest .cont-item:hover {
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08); }
      .new-dest .cont-item:hover .list-dest {
        border-bottom: 6px solid #F3CD3E; }
  .new-dest .list-dest {
    width: 100%;
    overflow: hidden;
    float: left;
    padding: 0px 0px;
    box-sizing: border-box;
    border-bottom: 6px solid transparent;
    height: 370px;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    transition: 0.2s ease; }
    .new-dest .list-dest .rate-area {
      padding: 0px 10px;
      position: absolute;
      width: 100%;
      bottom: 17px;
      box-sizing: border-box; }
      .new-dest .list-dest .rate-area div {
        width: 100%;
        background: #fff;
        padding-left: 5px; }
        .new-dest .list-dest .rate-area div.rate {
          width: 100%;
          left: -9px;
          top: 8px; }
          .new-dest .list-dest .rate-area div.rate .sub-rate {
            width: 100%; }
            .new-dest .list-dest .rate-area div.rate .sub-rate .start {
              width: auto;
              overflow: hidden;
              padding: 0px 3px;
              float: left; }
              .new-dest .list-dest .rate-area div.rate .sub-rate .start.rate {
                top: 0;
                left: 0; }
                .new-dest .list-dest .rate-area div.rate .sub-rate .start.rate i {
                  color: #F8CD3A;
                  font-size: 16px; }
                  .new-dest .list-dest .rate-area div.rate .sub-rate .start.rate i::before {
                    content: "\f005"; }
              .new-dest .list-dest .rate-area div.rate .sub-rate .start.unrate i {
                color: #B5B5B5;
                font-size: 16px; }
                .new-dest .list-dest .rate-area div.rate .sub-rate .start.unrate i::before {
                  content: "\f006"; }
              .new-dest .list-dest .rate-area div.rate .sub-rate .start:first-child {
                padding: 0 3px 0 0; }
              .new-dest .list-dest .rate-area div.rate .sub-rate .start i {
                font-size: 18px; }
    .new-dest .list-dest h4 {
      text-transform: capitalize; }
    .new-dest .list-dest .dest-data {
      background: #fff;
      border-bottom: 5px solid;
      border-color: transparent;
      overflow: hidden;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      transition: 0.3s ease; }
      .new-dest .list-dest .dest-data .dest-header {
        height: 210px;
        width: 100%;
        overflow: hidden; }
        .new-dest .list-dest .dest-data .dest-header img {
          object-fit: cover;
          width: 100%;
          height: 100%; }
      .new-dest .list-dest .dest-data .dest-desc {
        display: block;
        height: 150px;
        overflow: hidden;
        box-sizing: border-box;
        padding-bottom: 20px; }
        .new-dest .list-dest .dest-data .dest-desc .container-list {
          overflow: hidden;
          height: 140px;
          padding-bottom: 25px;
          box-sizing: border-box; }
          .new-dest .list-dest .dest-data .dest-desc .container-list p {
            text-overflow: ellipsis; }

.ads-popup-hotel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  align-items: center;
  display: flex;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease; }
  .ads-popup-hotel.inactive {
    z-index: -1;
    opacity: 0 !important; }
  .ads-popup-hotel.active {
    z-index: 999999999999999999999999;
    opacity: 1; }
  .ads-popup-hotel .popup-closer-area {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1; }
  .ads-popup-hotel .ads-container {
    width: 600px;
    overflow: hidden;
    background: #fff;
    margin: 0 auto;
    border-radius: 4px;
    padding: 10px 10px; }
    .ads-popup-hotel .ads-container .closed {
      position: absolute;
      top: 5px;
      right: 6px;
      color: #757575;
      background: transparent;
      border: 0; }
      .ads-popup-hotel .ads-container .closed:focus {
        outline: 0; }
    .ads-popup-hotel .ads-container .ads-image {
      float: left;
      width: 270px;
      height: 230px;
      overflow: hidden; }
      .ads-popup-hotel .ads-container .ads-image img {
        width: 100%;
        object-fit: cover;
        height: 100%; }
    .ads-popup-hotel .ads-container .ads-content {
      color: #616161;
      height: 230px;
      overflow: hidden;
      box-sizing: border-box;
      padding: 0px 10px; }
      .ads-popup-hotel .ads-container .ads-content ul li {
        font-weight: normal; 
        color: #666 !important;
      }
        .ads-popup-hotel .ads-container .ads-content ul li i {
          width: 15px; }
        .ads-popup-hotel .ads-container .ads-content ul li .parking {
          width: 13px;
          bottom: -3px;
          height: 13px;
          display: block;
          overflow: hidden;
          border: 1px solid #757575;
          float: left; }
          .ads-popup-hotel .ads-container .ads-content ul li .parking p {
            top: -3px;
            left: 4px;
            font-family: Quicksand; }
      .ads-popup-hotel .ads-container .ads-content .button-chart {
        width: 100%;
        position: absolute;
        bottom: 0; }
        .ads-popup-hotel .ads-container .ads-content .button-chart .chart {
          float: left;
          bottom: 3px; }
        .ads-popup-hotel .ads-container .ads-content .button-chart button {
          float: right;
          right: 10px;
          background: #F8CD3A;
          border: 1px solid #F8CD3A;
          color: #fff;
          transition: .2s ease; }
          .ads-popup-hotel .ads-container .ads-content .button-chart button:active {
            outline: 0; }
          .ads-popup-hotel .ads-container .ads-content .button-chart button:hover {
            background: transparent;
            color: #F8CD3A; }

.ads-popup-rental {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  margin: 0 auto;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease; }
  .ads-popup-rental .area-closer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1; }
  .ads-popup-rental.active {
    z-index: 999999999999;
    opacity: 1; }
  .ads-popup-rental.inactive {
    z-index: -1;
    opacity: 0; }
  .ads-popup-rental .container-ads {
    width: 257px;
    height: auto;
    background: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 10px 20px;
    padding-bottom: 30px;
    margin: 0 auto;
    color: #616161; }
    .ads-popup-rental .container-ads .area-title {
      width: 100%;  
    }
    .ads-popup-rental .container-ads .area-list {
      width: 100%;
      clear: both; }
      .ads-popup-rental .container-ads .area-list ul li 
      {
        padding:  3px 0;

      }
       .ads-popup-rental .container-ads .area-list ul li:first-child
       {
        padding-top: 10px;
       }
      .ads-popup-rental .container-ads .area-list ul li a {
        text-decoration: none;
        color: #616161; }
    .ads-popup-rental .container-ads .area-button {
      width: auto;
      position: absolute;
      z-index: 9;
      top: -25px;
      display: flex;
      padding: 0;
      right: 15px; }
      .ads-popup-rental .container-ads .area-button button {
        border: 0;
        background: transparent;
        color: #616161;
        margin: 0 auto;
        padding: 0;
        top: 4px;
        display: flex; }
        .ads-popup-rental .container-ads .area-button button:focus {
          outline: 0; }
        .ads-popup-rental .container-ads .area-button button::before {
         }

.share-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  vertical-align: middle;
  color: #616161;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease; }
  .share-popup .close-share {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
    cursor: pointer; }
  .share-popup.active {
    opacity: 1;
    z-index: 9999999999999999; }
  .share-popup.inactive {
    opacity: 0;
    z-index: -9999; }
  .share-popup .share-container {
    width: 240px;
    padding: 15px 20px;
    height: auto;
    margin: 0 auto;
    background: #fff;
    border-radius: 5px; }
    .share-popup .share-container .share-area .share-content ul li {
      padding: 7px 0; }
      .share-popup .share-container .share-area .share-content ul li button {
        padding: 5px 0px;
        background: transparent;
        width: 100%;
        text-align: left;
        border: 0;
        transition: .2s ease;
        color: #616161; }
        .share-popup .share-container .share-area .share-content ul li button.to-fb:hover i {
          color: #3C5A99 !important; }
        .share-popup .share-container .share-area .share-content ul li button.to-tw:hover i {
          color: #00ACED !important; }
        .share-popup .share-container .share-area .share-content ul li button.to-ig:hover i {
          color: #CD3C73 !important; }
        .share-popup .share-container .share-area .share-content ul li button.to-gp:hover i {
          color: #9D0503 !important; }
        .share-popup .share-container .share-area .share-content ul li button.to-url:hover i {
          color: #F8CD3A !important; }
        .share-popup .share-container .share-area .share-content ul li button:focus {
          outline: 0; }
        .share-popup .share-container .share-area .share-content ul li button i {
          top: 1px;
          color: #616161;
          font-size: 20px !important;
          width: 35px;
          text-align: left; }
        .share-popup .share-container .share-area .share-content ul li button span {
          color: #616161; }
    .share-popup .share-container .buttton-close {
      width: auto;
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 9; }
      .share-popup .share-container .buttton-close button {
        display: flex;
        font-size: 25px;
        border: none;
        color: #616161;
        background: transparent;
        margin: 0 auto; }
        .share-popup .share-container .buttton-close button:focus {
          outline: 0; }
        .share-popup .share-container .buttton-close button::before {}

@media screen and (max-width: 768px) {
  .new-dest .items {
    width: 50%; }

  .descript .pad-data {
    padding: 20px 20px 20px 20px; }
  .descript .image-data {
    height: 480px;
    width: 100%;
    overflow: hidden;
    padding: 10px;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1); }
    .descript .image-data .image {
      overflow: hidden;
      box-sizing: border-box; }
      .descript .image-data .image img {
        object-fit: cover;
        height: 420px;
        width: 100%; }
  .descript .image-contain {
    position: relative;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    vertical-align: middle;
    justify-content: cente;
    display: flex;
    bottom: 0;
    padding: 50px 0; }
    .descript .image-contain .bg {
      width: 100%;
      height: 400px;
      background-image: url("../image/bg-yellow.jpg");
      background-position: bottom center;
      background-size: cover;
      background-repeat: no-repeat; }
      .descript .image-contain .bg .content-dest {
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px; }

  .many-data {
    background: transparent;
    padding-top: 0px;
    padding-bottom: 60px; }
    .many-data .other .other-list {
      width: 100%;
      float: left;
      padding: 10px;
      box-sizing: border-box;
      overflow: hidden;
      height: auto;
      padding-bottom: 20px; }
      .many-data .other .other-list:first-child {
        padding-right: 0px; }
      .many-data .other .other-list:last-child {
        width: 100%; }
        .many-data .other .other-list:last-child img {
          width: 100%;
          object-fit: cover; }

  .container-list {
    overflow: hidden;
    height: auto;
    padding: 0px 3px !important; } }
@media screen and (max-width: 660px) {
  .new-dest .items {
    width: 50%; } }
@media screen and (max-width: 550px) {
  .ads-popup-hotel {
    box-sizing: border-box;
    overflow: hidden;
    padding: 10px; }

  .ads-popup-hotel .ads-container {
    width: auto; }

  .ads-popup-hotel .ads-container .ads-image {
    width: 100%; }

  .ads-popup-hotel .ads-container .ads-content {
    padding-top: 20px;
    width: 100%; }
    .ads-popup-hotel .ads-container .ads-content .img {
      width: 100%; } }
@media screen and (max-width: 500px) {
  .new-dest .items {
    width: 100%; } }
@media screen and (max-width: 430px) {
  .new-dest .items {
    width: 100%; } }