.popup-rad .credit {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: auto; }
  .popup-rad .credit pre {
    color: #fff;
    font-size: 14px; }

.galery {
  padding-top: 50px; }

.container .heading {
  padding-top: 80px; }

.list-galery {
  width: 25%;
  display: block;
  overflow: hidden;
  height: 300px;
  cursor: pointer;
  float: left; }
  .list-galery a {
    text-decoration: none;
    overflow: auto;
    background: transparent;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    transition: 0.2s ease; }
    .list-galery a:hover .temp span {
      color: #F8CD3A; }
    .list-galery a .temp {
      height: 100%;
      width: 100%; }
  .list-galery:hover .dest-text {
    opacity: 1; }
  .list-galery:last-child .dest-text {
    opacity: 1; }
    .list-galery:last-child .dest-text span {
      color: #fff; }
      .list-galery:last-child .dest-text span a {
        color: #fff;
        text-decoration: none; }
  .list-galery .image {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex; }
    .list-galery .image img {
      width: 100%;
      height: 100%;
      display: flex;
      object-fit: cover; }
  .list-galery .dest-text {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: block;
    vertical-align: middle;
    display: flex;
    top: 0;
    left: 0;
    bottom: 0;
    align-items: center;
    box-sizing: border-box;
    opacity: 0;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    transition: 0.3s ease;
    margin: 0 auto;
    right: 0; }
    .list-galery .dest-text div {
      position: relative;
      box-sizing: border-box;
      clear: both;
      width: 80%;
      overflow: hidden; }
      .list-galery .dest-text div img {
        object-fit: cover; }

.popup-rad {
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  position: fixed;
  z-index: 9999999999999999999999999;
  align-items: center;
  vertical-align: middle;
  padding: 10px 20px;
  display: none;
  box-sizing: border-box;
  top: 0; }
  .popup-rad img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    -ms-transition: 1s ease;
    transition: 1s ease;
    width: 100%; }
  .popup-rad button {
    position: absolute;
    font-size: 20px;
    border-radius: 100%;
    background: #fff;
    border: 0px;
    height: 25px;
    top: -10px;
    right: -10px;
    width: 25px;
    color: #383838; }

@media screen and (max-width: 768px) {
  .container .heading {
    padding-top: 0px !important;
    padding-left: 10px; }

  .galery {
    padding-top: 20px; }

  .list-galery {
    width: 33.333%;
    display: block;
    overflow: hidden;
    height: 300px;
    cursor: pointer;
    float: left; }
    .list-galery:hover .dest-text {
      opacity: 1; }
    .list-galery:nth-child(2) {
      display: none; }
    .list-galery:last-child .dest-text {
      opacity: 1; }
      .list-galery:last-child .dest-text span {
        color: #fff; }
        .list-galery:last-child .dest-text span a {
          color: #fff;
          text-decoration: none; }
    .list-galery .image {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex; }
      .list-galery .image img {
        width: 100%;
        height: 100%;
        display: flex; }
    .list-galery .dest-text {
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
      display: block;
      vertical-align: middle;
      display: flex;
      top: 0;
      left: 0;
      bottom: 0;
      align-items: center;
      box-sizing: border-box;
      opacity: 0;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      transition: 0.3s ease;
      margin: 0 auto;
      right: 0; }
      .list-galery .dest-text div {
        position: relative;
        box-sizing: border-box;
        clear: both;
        width: 80%;
        overflow: hidden; }
        .list-galery .dest-text div img {
          object-fit: cover; } }
.video-data-list {
  height: 500px;
  width: 100%;
  background: transparent; }
  .video-data-list .owl-nav {
    display: block !important; }
  .video-data-list .item {
    height: 500px; }
    .video-data-list .item img {
      width: 100%;
      height: 500px;
      object-fit: cover; }
    .video-data-list .item .cover {
      height: 100%;
      position: absolute;
      width: 100%;
      background: transparent;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      align-items: center;
      vertical-align: middle;
      display: flex;
      margin: 0 auto;
      justify-content: center;

       }
      .video-data-list .item .cover button {
        background: transparent;
        border: 1px solid #A7A39F;
        background: transparent;
        font-size: 35px;
        width: 80px;
        height: 80px;
        cursor: pointer;
        overflow: hidden;
        border-radius: 100%;
        color: #fff;
        border: 3px solid #fff;
        align-items: center;
        vertical-align: middle;
        position: absolute;
        left: 0;
        right: 0;        
        margin: 0 auto;
        vertical-align: middle;
        align-items: center;
        display: flex;
        justify-content: center; }
        .video-data-list .item .cover button i {
          border-radius: 20px;
          top: 2px;
          left: 2px; }
          .video-data-list .item .cover button i::before {
            content: "\f215";
            font-family: ion; }
        .video-data-list .item .cover button:focus {
          outline: 0; }

@media screen and (max-width: 450px) {
  .galery {
    padding-top: 70px; }

  .list-galery {
    width: 100%;
    display: block;
    overflow: hidden;
    height: 300px;
    cursor: pointer;
    float: left; }
    .list-galery:hover .dest-text {
      opacity: 1; }
    .list-galery:nth-child(2) {
      display: block; }
    .list-galery:last-child .dest-text {
      opacity: 1; }
      .list-galery:last-child .dest-text span {
        color: #fff; }
        .list-galery:last-child .dest-text span a {
          color: #fff;
          text-decoration: none; }
    .list-galery .image {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex; }
      .list-galery .image img {
        width: 100%;
        height: 100%;
        display: flex; }
    .list-galery .dest-text {
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
      display: block;
      vertical-align: middle;
      display: flex;
      top: 0;
      left: 0;
      bottom: 0;
      align-items: center;
      box-sizing: border-box;
      opacity: 0;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      transition: 0.3s ease;
      margin: 0 auto;
      right: 0; }
      .list-galery .dest-text div {
        position: relative;
        box-sizing: border-box;
        clear: both;
        width: 80%;
        overflow: hidden; }
        .list-galery .dest-text div img {
          object-fit: cover; } }
