.page-content-parent {
  width: 70%;
  display: block;
  float: left; }

.category {
  width: 30%;
  padding-top: 265px;
  float: left; }

.terkait {
  display: block;
  width: 100%;
  background: #fff; }
  .terkait a {
    text-decoration: none; }
  .terkait .pade {
    padding: 15px 0;
    border-bottom: 1.2px solid #EAEAEA; }
  .terkait .list-data {
    height: 70px;
    overflow: hidden;
    transition: .2s ease; }
    .terkait .list-data:hover h5 {
      color: #D1A506 !important; }
    .terkait .list-data .data-image {
      width: 70px;
      height: 70px;
      float: left;
      overflow: hidden; }
      .terkait .list-data .data-image img {
        overflow: hidden;
        object-fit: cover;
        width: 100%;
        height: 100%; }
    .terkait .list-data .data-desc {
      padding: 0px 5px 5px 10px;
      overflow: hidden;
      max-width: auto;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-border-radius: border-box;
      box-sizing: border-box; }
      .terkait .list-data .data-desc h5 {
        font-size: 18px;
        color: #383838;
        font-weight: normal;
        text-overflow: ellipsis; }

.page-content-parent .parent-data .heading {
  padding: 0px 0px 0px 0px;
  width: 100%; }
  .page-content-parent .parent-data .heading .intittle {
    padding: 0px 0px 0px 0px; }
    .page-content-parent .parent-data .heading .intittle h1 {
      font-size: 28px;
      font-weight: 300 !important; }
  .page-content-parent .parent-data .heading .sub-time {
    clear: both;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    overflow: auto; }
    .page-content-parent .parent-data .heading .sub-time h6 {
      padding-left: 0px;
      width: 100%; }
      .page-content-parent .parent-data .heading .sub-time h6 .time {
        float: left;
        padding: 15px 30px 10px 0px;
        color: #828282; }
        .page-content-parent .parent-data .heading .sub-time h6 .time i {
          padding-right: 8px; }
        .page-content-parent .parent-data .heading .sub-time h6 .time .fa-tags-o::before {
          content: "\f48e";
          font-family: ion; }

.page-content-m {
  width: 100%;
  clear: both; }
  .page-content-m .image-page {
    width: 100%;
    height: 500px; }
    .page-content-m .image-page img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .page-content-m .image-page .credit-tag {
      position: absolute;
      bottom: 0;
      left: 0;
      width: auto; }
      .page-content-m .image-page .credit-tag h6 {
        font-size: 14px;
        color: #fff;
        font-weight: normal;
        left: 20px;
        bottom: 10px; }
  .page-content-m .page-desc-m {
    display: block;
    padding-top: 30px;
    padding-bottom: 50px;
    overflow: auto;
    clear: both; }
    .page-content-m .page-desc-m p {
      line-height: 1.7; }

.popup-rad {
  padding: 200px 20px !important;
  box-sizing: border-box !important;
  overflow: hidden !important; }

div.rate {
  width: auto;
  left: -9px;
  top: 8px; }
  div.rate .sub-rate {
    width: auto; }
    div.rate .sub-rate .start {
      width: auto;
      overflow: hidden;
      padding: 0px 3px;
      float: left; }
      div.rate .sub-rate .start.rate {
        top: 0;
        left: 0; }
        div.rate .sub-rate .start.rate i {
          color: #F8CD3A; }
          div.rate .sub-rate .start.rate i::before {
            content: "\f005"; }
      div.rate .sub-rate .start.unrate i {
        color: #B5B5B5; }
        div.rate .sub-rate .start.unrate i::before {
          content: "\f006"; }
      div.rate .sub-rate .start:first-child {
        padding: 0 3px 0 0; }
      div.rate .sub-rate .start i {
        font-size: 18px; }

.share-area {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box; }
  .share-area .orvfo {
    width: auto;
    float: left;
    padding-left: 20px; }
    .share-area .orvfo:last-child {
      padding-left: 10px; }
    .share-area .orvfo button {
      background: none;
      border: 0;
      color: #F8CD3A; }
      .share-area .orvfo button.like-me[liked=false] i {
        font-family: FontAwesome;
        font-style: normal; }
        .share-area .orvfo button.like-me[liked=false] i::before {
          content: "\f08a"; }
      .share-area .orvfo button.like-me[liked=true] {
        color: #FF1241; }
        .share-area .orvfo button.like-me[liked=true] i {
          font-family: FontAwesome;
          font-style: normal;
          color: #FF1241; }
          .share-area .orvfo button.like-me[liked=true] i::before {
            content: "\f004"; }
      .share-area .orvfo button:focus {
        outline: 0; }

@media screen and (max-width: 768px) {
  .page-content-parent {
    width: 100%;
    display: block;
    float: left; }

  .category {
    width: 100%;
    padding-top: 25px;
    float: left; } }
